@import "tailwindcss";

:root {
  --background: #111312;
  --foreground: #f4f1e8;

  --surface: #191c1a;
  --surface-light: #222622;

  --muted: #a8aaa3;

  --accent: #c49a5a;

  --border: #30342f;
}

body {
  background: var(--background);
  color: var(--foreground);
}
